.show-trips-wrap {
  .triplist {
    width: 60%;
    .trip {
      display: flex;
      span {
        font-size: 1.35vw;
        flex: 1;
        cursor: pointer;
      }
      span:first-child {
        flex: 2;
        text-transform: capitalize;
        color: #de6060;
        font-weight: 300;
      }
    }
    .trip-detail {
      border: 1px solid #de6060;
      .dates-wrap {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}