.show-trips-wrap {
  .triplist {
    .trip {
      display: flex;
      span {
        font-size: 1.35vw;
        flex: 1;
        cursor: pointer;
      }
      span:first-child {
        flex: 2;
        text-transform: capitalize;
        color: #de6060;
        font-weight: 300;
      }
    }
    .trip-detail {
      border: 1px solid #de6060;
      display: flex;
      flex-direction: column;
      align-items: center;
      .dates-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}