.trip-details {
    display: flex;
    .te-left {
      flex: 2;
      h4 {
        color: #4D8EE4;
        text-transform: capitalize;
      }
      .trip-type {
        border-top: 1px dashed #7b7979;
        border-bottom: 1px dashed #7b7979;
        span:first-child {
          font-weight: 600;
          color: #7b7979;
        }
      }
      .trip-dates {
        display: flex;
        .date {
          flex: 1;
          display: flex;
          flex-direction: column;
          span {
            color: #7b7979;
          }
          span:first-child {
            font-weight: bold;
          }
          span:last-child {
            font-size: 0.95vw;
          }
        }
        .date:last-child { align-items: flex-end }
      }
    }
    .te-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .total-expe {
        display: flex;
        flex-direction: column;
        span:nth-child(2) {
          font-size: 2vw;
          color: #D4121C;
        }
      }
    }
  }