.header-wrap {
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #4d8ee4; //#fff;
    // border-bottom: 1px solid #e7e9eb;
    color: #fff; //black;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    span {
        font-size: 1.3vw;
        font-weight: bold;
        cursor: pointer;
        a {
          all: unset;
        }     
    }
}