.header-wrap {
    width: 100%;
    height: 3.5rem;
    background: #272A34;
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    span {
        font-size: 1.3vw;
        font-weight: 200;     
    }
}